<!-- Modal -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Ficha de Identificación
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>

                </div>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Nombre:</p> <p id="NombrePacienteFI"  class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Fecha de Nacimiento:</p> <p id="FechaNacimientoFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p  class="text-modal-title">Sexo:</p> <p id="SexoFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Edad:</p> <p id="EdadFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>
                                
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Estado Civil:</p> <p id="EstadoCivilFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Número Socio:</p> <p id="NumeroSocioFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Número Ternium:</p> <p id="NumeroTerniumFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Nacionalidad:</p> <p id="NacionalidadFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Religión:</p> <p id="ReligionFI" class="text-modal-subtitle"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="text-modal-title">Tipo Sanguíneo:</p> <p id="TipoSangreFI" class="text-modal-subtitle"></p>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary">Limpiar</button>*@
                <button type="button" class="btn nova-btn-color" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>