<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<img src="~/Images/logo.png" alt="logo"  style="vertical-align: top; margin-left: 0px; margin-top: -15px; width: 95px; height: 65px;">*@
            @*<img src="~/Content/images/logo.png" alt="logo" style="vertical-align: top; margin-left: 0px; margin-top: -15px; width: 95px; height: 65px;">*@
            <img alt="logo.png"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHcAAABNCAYAAACc2PtBAAAAGXRFWHRT
                 b2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABntJREFUeNrsXb9vHFUQfne3ZzmFT4Iike6KIAX
                 JlggSFKEEySlSOgUlLtJSQJlIpCQSKaFIm8L5A+wOCkeIIgUuQEqKiwQSFLYUFyCdiwTfL968uzW7s/
                 Nu39vbvds9vpFWsuK7vdn55uc375zam+/f+0Qp9aOCrJzUYQKACwG4EIALAbgQgAsBuAAXAnAhABcCc
                 CEAFwJwIQAX4EIALgTgQgAuBOBCAC7AhQBcCMCFAFwIwIUAXAjA/T9JkOld623V6NwWfzU+66rR6dNc
                 7jk83lfqzQlQWiS4tUsdFbz7uQxuv6fOf7ql1OBs7nuO/jpSY4BbnrRca7ZU4+ouLLuqNbdx9TOdEzZ
                 g3VUEl6K3fnkb1l3VbtlWkyEVBNd0tqxBqrd3YOFVAHfw2yNE78qmZT2ySNFbe+sGrLwKNXd4fIDoLZ
                 EEed5s/PeRIR7qb/8XrfQzRS/9biGy3jYZI6pTmSWa2cavj3Nl5IK8laXau/bR4/jc29lRg6KMrOdpu
                 n/98s2YU8WcThuNnG74554an71Mpi89tnHiZXR6qF//xH2237yr6q2t2L/1j+6IYE703TYjoySkq/l8
                 yoSeTF+h4Jro7XVjD0qcsWm4cqYSyUDB9a+tRorW/kanM9Hjjz01fPkwbkytb5M7hnYaL3A1YFE9hq8
                 Ok8bWuto4+dhzaV3oIofr//KF6JBLm3MpQoquvQRs88PvUoFN6PHOrgo++DbRDJqUGL0/OadO8a6ple
                 vBlyeuwHKnbN54nJntKwTc0clBwljmwRyN5ZKKyViJrNHvmY6dskR4cT2MLlduTijSqEO+eipGkKujS
                 ak1noqTwFJ0U2Se/3zHXEZf/QwxgLXTBFt3ywOube719VxrCtTpKhEpOrWeP/tUDV7cV8PfH11ctKEa
                 dL9J3uMa20Cd7GcGt3FlO6FLtARRypZIn8GvX5oIp1JGF+lLdZoDnJXKLQxcE71MybwWCpKxKAJsNZ1
                 qJ6+BnP+mupbJqKw7lxyFOwl9zqD7UO5ZtB58pCRdaxub5QE3NCpXct51ID0kN6bLUp+iIi2d8jrpYl
                 QetVKK5/qaBmlGFywedghaZQN3T47eucDdmlnfrF08RSarv4mIO/Wvu5yB4yn5YrSJXvSamTWtV845N
                 67kmYneaKds0mF7x6TtTOAyQCbAdd3GtNcnsfdz4CQnMeDNGImoOUur3dK8m+aIuUwURTMwnG8uYixy
                 NUZqhJMzstrMwfPpkpctQeGfMF0oRDvlcB2YJXpdO1ifsSpa/yg1c0Bt9CkHl9K+i6MZdkrfk2bp3J9
                 nkZFrHYtKcs6K13Ap8mxdMwdGmpV5v7G2/cyQL0SmFAnswsCV1oHktaVcB2pdecMjgSB17VK9jTJUwd
                 Y9b0at3Gn5ovYeJEgMqr2+zcYihFJzlBs3P7P0nZhdZ6RkWipIBA5NEobE0I0ezxh8+VJqcK3rQB0Be
                 XWH+YGrmyrW9FFqjvYItIVySsnrbZOCpVIlzd7VS8tlqb0COyZxz9JMHItUfZ/EGGX5loVEcqQCm9Ox
                 4IWCG64DYw/vuVCQCABXao7vW8MaK5YRFomxjMO7ZJ1erYcC1jsiueNL1JQeXNuDec29Em3nSs15RAQ
                 Hy5wHmzqRa9RKDmVqa8oCvtbcqCa4tnWg6wNJbJTzaq6VPvZEAUssEqafk8ZJzz2e5TRFLOUrnPPUXi
                 ktu4ArskkpHC8H3yzlaQSKjDNhx2t1Rs5nO5QQqU5XBlxpHeg80EunJqZd92wCYTc19UrRyz+n3r7tF
                 bU05sRTbmtmZBLRIfHnlQF3UnufZH+vdIT2+gNrTSWDSTvVNGCkFSAfa1LBFcqIOVkh6GpObFyT+4/a
                 Jf9TLMHywN2beGkGxkZ6L9XTtY9/MMCTQSliwoNmUlZwci7d+PDDfmmp21a7bbpOCJPNCbBTTpu/Pmz
                 oKgOutA70eS+dZGi+/yA1smx125VAIEqx3rpnGZcOnY6eSs95oatEcLy4b/jnyqblSXrdn6tu959/5f
                 8+HWk+lOesZYBrl2zOczk+K70uy6GB/CJ30Mtnb6mbI+qcrYqnnEgggP/RelBUzDrkHYJqDOe7ZqSlh
                 45Q6d4+IxBF42iqq5Riw2wS3pPbN/X0hlSnV+o/RxYOq5GDlI27TnzlJeevkSy/5hYhNCZV4Q+kLEhP
                 /B2qFRaAC3AhABcCcCEAFwJwIQAX4EIALqQS8q8AAwCazy9TiYkl6AAAAABJRU5ErkJggg==" style="vertical-align: top; margin-left: 0px; margin-top: -15px; width: 95px; height: 65px;" />
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><strong>Nota Medica ---tpoNota---</strong><span class="sr-only">(current)</span></a></li>
                <li id="ImgFiltro" class="hidden">
                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                        <img id="IdFilter" alt="icons-filtrar.png"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BA
                             ACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFiSURBVGhD7di7LkRhFIbhiULoiE5UxC1IHMIF6LUUJNQiLsE1EJV7UCqdL
                             kIpCkoFhcP7F5KJ/KzZM/s/rJ3vTZ52770UXzJ6SimllJ8mMe/IFIbuEG/4cuQDFxhDoybg7dh+S2hU+As9I/aw2n1iEY1bwxUe8
                             ILYw2vxivCd99jGyM3iEbGXlfaOVbTeMsLDYy8taR/J2kXspaWcI3lniL08t1uMI3nhJdeIfUQuT5hDtkqOWLKRsio1Ygco1h5iH
                             5VKlpGyyjVi2UbKKnzEDWIf2ZbsI2WVcsSKjZRVqhErOlJWbY9YFSNl1daI3aGKkbJqY8SqGymrUUYs7ED4Le6uFQwzYlWPlNUWT
                             hs4glKqnhZw3MAGXLeJ2BL/5QSu08EGHewtHWzQwd7SwQYd7C0dbNDB3hr04PCvoEusw3X/Hfxz5A6m0Yl+H9zJI/sLB3f+yP5m0
                             PkjlVJKKTVIvd43Wxs/FM/1HKAAAAAASUVORK5CYII=" style="width: 19px; height: 19px;" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>