<!-- Latest compiled and minified CSS -->
<div id="profile">
    <nav class="navbar navbar-default" style="margin-top: -20px">
        
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle ajust-img-panel btn btn-default" aria-label="Left Align" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="true">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <img id="FotoAsociado" alt="FotoAsociado" src="data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAIIAAACCCAIAAAAFYYeqAAAAAXNSR0IArs4c6
                     QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsM
                     AAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAABKVJREFUeF7tmq1y6zAQhe/7P80FAQEFAQUBmQkIKCgwKAgo6CvcM9VpJyM3uV
                     K86xx1zoda/6xlffFqJfvPhxHAGiSwBgmsQQJrkMAaJLAGCaxBAmuQwBoksAYJrEECa5DAGiSwBgmsQQJrkMAaJLAGCaxBAmuQwBoksAYJrEECa5DAGiSwBgmsQQJrk
                     MAaJLAGCaxBAmuQwBoksAYJrEGCMTRM07Tf7zebzd8ecDzOwrmMIswAGg6HA/v1XhCBsVRR14CfM/tyGYjDiJJIazgej+zFCBCNcfXQ1fD+/t47GNwG0RCT0cXQ1fDy
                     8sL+iwMxGV0MXQ3Pz8/svDgQk9HFENWA7MGei0YzL4lqyMhIBc28tIYG/ABx8yjed81st1t2WzSIzGs0gDaj5Ss8QOkaUCbGFjzrg/ZnF7uJGvAjenp64q2MD+4l77H
                     I0vDLHBTyTGRpyCg3FUgqeVM0TNPEVv9GMpZsUzRErcdpkrFKmKJh9NLoNrg73mccKRrY3utgrENVnjc5yIb3GccDNFzOYwdNX2x9HGtrmCfWEZ8JNj2OtTXMy4zl7z
                     jXh02PY20Np9OJB30x4gyDTY9jbQ1IQZcT0be3N+7oBPJgFM9WebwQB39gyzpSS+MDecAQDROlB5GOekvbssp2e0UBe7PXE3mlOB6g4W6grX1JB0fmjTq8RhxjaMBP+
                     /X1ldF7QHGc8VgwehwDaEA/IvUzdD84N9wEQ8cxgIYfn4Pz+Yycc7mWjr+xBdt5xAWIwIOCYNw41DWgZxn0CyT923Nv7J0PIbHjBIPGIa2hqm4BMkzL26T5+xn8G5ia
                     GDQOaQ3VVxToyhYHhbkJVMnctxhGjENaQ9WPveuAVUJDNO5YDCPGoauhet2IsZc7eqhG7Kg5NsPFoauhWn3CxJg7eqg+bInKSwwXh66Gslj0zW63444ecBbP/wQxuWM
                     ZDBfHMBruey2Bs3j+J9bQTaWBW/vh+Z9YQzeVhvZS9RInpaVUaxj3FTlVuRW1qsFwcehqqKp+TOW4o4dqAhi1pMFwcehqQBZiuC96R+lqfAb3ZbY5DBeHrgZQrW/3pp
                     QqrSEadyyGEeOQ1jD/mqZ9PWPJuf+FEeOQ1gDmL3xaptPV5BkEPgqAQeNQ1zBfKAWoO69NqrG9qnRB19JsC4wbh7oGME8vhfP5jEIIP/wC/v7x1RsITEcFxo1jAA3gm
                     okWwh0Aho5jDA0A2WaenW6D46/lroXwAnEMowFsNptqOnYDHJnxaUyB14hjJA0FTMpOp9O1YQDbsfe+5dh2eLE4xtPwDfoaOYcD9PGIv7N7/xveZxwDa3ggvM84UjTE
                     FulqzBe7lpOiIfBTFEGql+QhpGhApZhXpTwWDD+9dXMLKRpA+GejIlSrtlFkaQCo3Nn230L7rKWXRA1gmqbVishUcBfzFcNAcjUAZFL8iJIWFVYALUf7M8aDS9I1mBa
                     sQQJrkMAaJLAGCaxBAmuQwBoksAYJrEECa5DAGiSwBgmsQQJrkMAaJLAGCaxBAmuQwBoksAYJrEECa5DAGiSwBgmsQQJrkMAaJLAGCaxBAmuQwBoksAYJrEECaxDg4+
                     MftpHLEa+6FYAAAAAASUVORK5CYII=" style="vertical-align: baseline; margin-left: 20px; width:50px; height:50px; border-radius: 50%;" />
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="ajust-img-panel">
                        <a href="#" data-toggle="modal" data-target="#detalleModal">
                            <strong>Paciente:</strong>  <span id="NombrePacienteNM"></span>
                        </a>
                    </li>
                    <li class="ajust-img-panel">
                        <a href="#" data-toggle="modal" data-target="#detalleModal">
                            <strong>Número de Socio:</strong> <span id="NumeroSocioNM"></span>
                        </a>
                    </li>
                    <li class="ajust-img-panel">
                        <a href="#" data-toggle="modal" data-target="#detalleModal">
                            <strong>Sexo:</strong> <span id="SexoNM"></span>
                        </a>
                    </li>
                    <li class="ajust-img-panel">
                        <a href="#" data-toggle="modal" data-target="#detalleModal">
                            <strong>Edad:</strong> <span id="EdadNM"></span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="ajust-img-panel"><a href="#" data-toggle="modal" data-target="#detalleModal">Detalle</a></li>
                    <li class="ajust-img-panel"><a href="@Url.Action("Index", "HojaFrontal")">Hoja Frontal</a></li>
                    <li class="ajust-img-panel"><a href="#" onclick="notaMedica.FinConsulta(); return false;">Fin Consulta </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
