<!-- Latest compiled and minified CSS -->
 <nav class="navbar navbar-default" style="margin-top: -20px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <strong>Médico:</strong>  <span id="FiltroNombreMedico"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Especialidad:</strong> <span id="FiltroEspecialidad"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Paciente:</strong>  <span id="FiltroNombrePaciente"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Estatus:</strong> <span id="FiltroEstatus"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Fecha Inicio:</strong> <span id="FiltroFechaInicio"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Fecha Fin:</strong> <span id="FiltroFechaFin"></span>
                    </a>
                </li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                    <li class="ajust-img-panel"><a href="#"></a></li>
                    <li class="ajust-img-panel"><a href="#" data-toggle="modal" data-target="#detalleModal"> <i class="fa fa-info-circle" aria-hidden="true"></i> Detalle</a></li>
                    <li class="ajust-img-panel"><a href="@Url.Action("Index", "HojaFrontal")"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Hoja Frontal</a></li>
                    <li class="ajust-img-panel"><a href="@Url.Action("Index", "ListadoPacientes")"> <i class="fa fa-flag" aria-hidden="true"></i> Fin Consulta </a></li>
                </ul>*@
        </div>
    </div>
</nav>