<div class="splash" id="loader">
    <div class="color-line"></div>
    <div class="splash-title">
        <h1>Nova</h1>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>