<?xml version="1.0"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel name="ApplicationServer" ref="tcp" port="0" priority="100" useIpAddress="true" clientConnectionLimit="2000" useDefaultCredentials="true" useAuthenticatedConnectionSharing="true" retryCount="2" type="OT.Ternium.Framework.Messaging.BalancedTcpClientChannel, OT.Ternium.Framework.Contract">
					<clientProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="OT.Ternium.Framework.Messaging.CompressionClientSinkProvider,OT.Ternium.Framework.Contract" compression="both" level="fast" minthreshold="0"/> 
					</clientProviders>
				</channel>
        <channel name="ApplicationServerIpc" ref="ipc" priority="100" secure="false" type="OT.Ternium.Framework.Channels.Ipc.IpcClientChannel,OT.Ternium.Framework.Channels">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="OT.Ternium.Framework.Messaging.CompressionClientSinkProvider,OT.Ternium.Framework.Contract" compression="both" level="fast" minthreshold="3000"/> 
          </clientProviders>
        </channel>
        <channel name="ApplicationServerHttp" ref="http" priority="100" secure="false" clientConnectionLimit="1000" timeout="600000">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="OT.Ternium.Framework.Messaging.CompressionClientSinkProvider,OT.Ternium.Framework.Contract" compression="both" level="fast" minthreshold="3000"/>
          </clientProviders>
        </channel>
			</channels>
			<client>
				<wellknown type="OT.Ternium.Framework.Messaging.ICrossAppDomainMessageHandlers, OT.Ternium.Framework.Contract" url="tcp://appserver:9009/ServiceDispatcher.rem"/>
			</client>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
</configuration>
